<div class="container" fxLayout="column">

  <div fxFlex class="spinner-container" *ngIf="positions">

    <div fxFlex class="precont">
      <div class="example-container mat-elevation-z8">

        <h1> POSITION LIST TO ASSIGN EQUIPMENTS </h1>
        <mat-table #tableAssignEquip [dataSource]="positions" class="mat-elevation-z8">

          <ng-container matColumnDef="id">
            <mat-header-cell mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
            <mat-cell mat-cell *matCellDef="let position"> {{position.id}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="namePosition">
            <mat-header-cell mat-header-cell *matHeaderCellDef> Name Position </mat-header-cell>
            <mat-cell mat-cell *matCellDef="let position"> {{position.name}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="viewDetail">
            <mat-header-cell mat-header-cell *matHeaderCellDef> View Detail </mat-header-cell>
            <mat-cell mat-cell *matCellDef="let position"> <a mat-button [routerLink]="['/detail-equipment-position', position.id]"><span class="fa fa-eye"></span>View Equipments</a> </mat-cell>
          </ng-container>


          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>

      </div>
    </div>
    <br>
  </div>

  <div [hidden]="positions">
    <mat-spinner></mat-spinner>
    <h4>Loading . . . Please Wait</h4>
  </div>

</div>

