$background-moredark: #4527A0;
.active {
  background: $background-moredark;
}

.employees-icon:hover {
  color: white;
}

.employees-icon:focus {
  background-color: #308C88;
  color: white;
  border: 2px solid white;
  box-sizing: border-box;
}

.jumbotron {
  width: 100%;
}
