<mat-toolbar color="primary">
  <span><img src="../../assets/images/safetylogo.png" height=30 width=41></span>
  <a mat-button routerLink="/home"><span class="fa fa-home fa-lg"></span> Home</a>
  <a mat-button routerLink="/about"><span class="fa fa-info fa-lg"></span> About</a>
  <button mat-button [matMenuTriggerFor]="positions"><span class="fa fa-list fa-lg"></span> Position</button>
  <button mat-button [matMenuTriggerFor]="projects"><span class="fa fa-list fa-lg"></span> Projects/Areas</button>
  <a mat-button routerLink="/type-equipment"><span class="fa fa-list fa-lg"></span> Type Equipment</a>
  <a mat-button routerLink="/employees-list" class="employees-icon"><span class="glyphicon glyphicon-book"></span> Employees</a>
  <button mat-button [matMenuTriggerFor]="assignEquips"><span class="fa fa-list fa-lg"></span> Assign Equipments</button>
  <button mat-button [matMenuTriggerFor]="accidentes"><span class="fa fa-list fa-lg"></span> Accidentes</button>
  <button mat-button [matMenuTriggerFor]="reports"><span class="fa fa-list fa-lg"></span> Reports</button>
  <span class="flex-spacer"></span>
   <span class="flex-spacer"></span>
  <a mat-button (click)="openLoginForm()"><span class="fa fa-sign-in fa-lg"></span> Login</a>
</mat-toolbar>
<mat-menu #positions="matMenu">
  <a mat-button routerLink="/positionList"><span class="fa fa-address-card fa-lg"></span> Positions</a>
  <a mat-button routerLink="/profileList"><span class="fa fa-address-card fa-lg"></span> Recruitment Profile</a>
  <a mat-button routerLink="/positionTypeEvaluatorList"><span class="fa fa-address-card fa-lg"></span> Types Evaluators</a>
  <a mat-button routerLink="/position-report/0"><span class="fa fa-address-card fa-lg"></span> Position Report</a>
</mat-menu>
<mat-menu #accidentes="matMenu">
  <a mat-button routerLink="/accident-list"><span class="fa fa-address-card fa-lg"></span> Lista de Accidentes</a>
  <a mat-button routerLink="/accident-record"><span class="fa fa-address-card fa-lg"></span> Registro de Accidentes</a>
  <a mat-button routerLink="/accident-type"><span class="fa fa-address-card fa-lg"></span> Tipos de Accidentes</a>
  <a mat-button routerLink="/accident-cause-group"><span class="fa fa-address-card fa-lg"></span> Causas de
    Accidentes</a>
</mat-menu>
<mat-menu #assignEquips="matMenu">
  <a mat-button routerLink="/employee-list-assignequip"><span class="fa fa-address-card fa-lg"></span> Assign Equipments to Employee</a>
  <a mat-button routerLink="/position-equipment-list"><span class="fa fa-address-card fa-lg"></span> Assign Equipments to Position</a>
</mat-menu>
<mat-menu #projects="matMenu">
  <button  mat-menu-item  routerLink="/projects"><span class="fa fa-building fa-lg"></span> Projects</button>
  <button  mat-menu-item  routerLink="/area-list"><span class="fa fa-building fa-lg"></span> Areas</button>
</mat-menu>

<mat-menu #reports="matMenu">
  <button  mat-menu-item  routerLink="accident-report1"><span class="fa fa-address-card fa-lg"></span> Report 1</button>
  <button  mat-menu-item  routerLink="accident-report2"><span class="fa fa-address-card fa-lg"></span> Report 2</button>
</mat-menu>

<div class="container jumbotron"
     fxLayout="row"
     fxLayout.sm="column"
     fxLayout.xs="column"
     fxLayoutAlign.xs="start center"
     fxLayoutAlign.sm="start center"
     fxLayoutAlign.gt-sm="center center"
     fxLayoutGap="10px">

  <div fxFlex fxFlex.gt-sm="50%">
    <h1>SSI</h1>
    <p>We take inspiration from the World's best safety practices, and create a unique fusion experience. Our awesome
      safety protection items
      will tickle your safety vision!</p>
  </div>
  <div fxFlex fxFlex.gt-sm="20%">
    <img src="../../assets/images/safetylogo.png" alt="Logo" width="200" height="200">
  </div>
  <div fxFlex></div>

</div>

  <p></p>

