<div class="col col-lg-1"></div>
<div class="col col-lg-10 employee-list">
  <div class="col col-lg-12">
    <h1>Lista de Empleados</h1>
    <button type="button" class="btn btn-default create-employees"
            routerLink="/employee-creation-form">
      Registrar nuevo empleado
      <span class="glyphicon glyphicon-plus"></span>
      </button>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th class="employee-list-header">Nombre</th>
        <th class="employee-list-header">Apellido</th>
        <th class="employee-list-header">Ci</th>
        <th class="employee-list-header">Cargo</th>
        <th class="employee-list-header">Supervisor</th>
      </tr>
    </thead>
    <tbody>
      <tr class="employee-list-item" *ngFor="let employee of employees" [routerLink]="['/employee', employee.id]">
        <th class="employee-list-item-column">{{employee.firstName}}</th>
        <th class="employee-list-item-column">{{employee.lastName}}</th>
        <th class="employee-list-item-column">{{employee.ci}}</th>
        <th class="employee-list-item-column">{{employee.positionName}}</th>
        <th class="employee-list-item-column">{{employee.supervisorName}}</th>
      </tr>
    </tbody>
  </table>
</div>
