<div class="col col-lg-1"></div>
<div class="col col-lg-10">
  <h1 class="employee-title">Lista de Empleados</h1>

  <button type="button" class="btn btn-default create-employees"
          routerLink="/employee-creation-form">
    Registrar nuevo empleado
    <span class="glyphicon glyphicon-plus employee-list-span"></span>
  </button>

  <button type="button" class="btn btn-default create-employees"
          routerLink="/employee-reports">
    Reportes Empleado
    <span class="glyphicon glyphicon-folder-open employee-list-span"></span>
  </button>
  <table class="table table-striped employee-list">
    <thead>
      <tr>
        <th class="employee-list-header">Nombre</th>
        <th class="employee-list-header">Apellido</th>
        <th class="employee-list-header">Ci</th>
        <th class="employee-list-header">Cargo</th>
        <th class="employee-list-header">Supervisor</th>
        <th class="employee-list-header">Projecto</th>
      </tr>
    </thead>
    <tbody>
      <tr class="employee-list-item" *ngFor="let employee of employees" [routerLink]="['/employee', employee.id]">
        <th  class="employee-list-item-column">{{employee.firstName}}</th>
        <th  class="employee-list-item-column">{{employee.lastName}}</th>
        <th  class="employee-list-item-column">{{employee.ci}}</th>
        <th  class="employee-list-item-column">{{employee.positionName}}</th>
        <th  class="employee-list-item-column">{{employee.supervisorName}}</th>
        <th  class="employee-list-item-column">{{employee.projectName}}</th>
      </tr>
    </tbody>
  </table>
</div>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
