.select-type{
  width: 600px;
  margin: 0 auto;
  background-color: #F1F1F1;
  padding: 10px 20px 20px 20px;
  border: 1px solid #3b5998;

}
h1{
  margin-left: 50px;
}

mat-form-field{
  width: 250px;
}
h1,h3{
  color: #3b5998;
}
mat-select{
  width: 250px;
}
p{
  color: #007bb6;
}

