/* Structure */
.container {
  display: flex;
  flex-direction: column;
}

/* Toolbar */
.spacer {
  flex: 1 1 auto;
}

/* Filter */
.form {
  min-height: 56px;
  max-height: 56px;
  display: flex;
  align-items: center;
  padding: 8px 24px 0;
  font-size: 20px;
  justify-content: space-between;
  border-bottom: 1px solid transparent;
}

.mat-form-field {
  font-size: 14px;
  flex-grow: 1;
  margin-top: 8px;
}

/* Mat table */
.no-results {
  display: flex;
  justify-content: center;
  padding: 14px;
  font-size: 14px;
  font-style: italic;
}
.cardTotal {
  text-align: center;
  padding: 1em;
  background: rgba(0,0,0,0.8);
  color: #d9d9d9;
  display: inline-block;
  width: 10%;
}
.cardTotal h3 {
  font-size: 5em;
  padding: 0;
  margin: 0;
}

.cardTotal span {

}

.mySvg{
  background-color: blue;
}
