<div style="width: 95%; margin:0 auto">
  <div class="" style="text-align: center; margin: 2em">
    <div class="cardTotal">
      <h3>{{dataSource.filteredData.length}}</h3>
      <span>Accidentes<br>&nbsp;</span>
    </div>
    <div class="cardTotal" style="background: brown">
      <h3>{{total_employee_accident}}</h3>
      <span>Total Empleados Accidentados</span>
    </div>
    <div class="cardTotal" style="background: #007bb6">
      <h3>{{total_causas}}</h3>
      <span>Total Causas Probables</span>
    </div>
  </div>



  <mat-toolbar>
    <span>Accidentes </span>
    <button  (click)="addNew()">
      <i class="fa fa-plus"></i> AGREGAR ACCIDENTE
    </button>
    <span class="spacer"></span>

    <button mat-icon-button (click)="refreshTable()">
      <mat-icon>refresh</mat-icon>
    </button>
  </mat-toolbar>
  <br>
  <div class="container mat-elevation-z8">
    <div class="form">
      <mat-form-field floatPlaceholder="never" color="primary">
        <input matInput #filter placeholder="buscar">
      </mat-form-field>
    </div>
    <mat-table #table [dataSource]="dataSource" matSort class="mat-cell">
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
        <mat-cell *matCellDef="let row" >{{row.id}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="place_accident">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Descripcion</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.place_accident}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="type">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Tipo</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.type.name_type_accident}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="area">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Detalle de lesion</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.area.name}}</mat-cell>
      </ng-container>


      <!-- actions -->
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>
          <button mat-icon-button color="primary" (click)="addNew()">
            <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
          </button>
        </mat-header-cell>

        <mat-cell *matCellDef="let row; let i=index;">
          <a class="mat-icon-button mat-primary" href="/accidente/{{row.id}}"><i class="fa fa-eye"></i> Ver</a>
          <button mat-icon-button color="primary" (click)="edit(i, row )">
            <mat-icon aria-label="Edit">edit</mat-icon> Editar
          </button>
        </mat-cell>

      </ng-container>


      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <div class="no-results" [style.display]="dataSource.renderedData.length == 0 ? '' : 'none'">
      No results
    </div>
    <br>
    <mat-paginator #paginator
                   [length]="dataSource.filteredData.length"
                   [pageIndex]="0"
                   [pageSize]="5"
                   [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>

  </div>

  <br>
  <div>
    <h2>Grafica de Las Causas mas frecuentes en los accidentes</h2>
    app-pie-chart - app-pie-chart
  </div>
  <br>
</div>

