<div class="container" fxLayout="column">

  <div fxFlex class="spinner-container" *ngIf="positionEquipments">

    <div fxFlex class="precont">
      <div class="example-container mat-elevation-z8">

        <h1> LISTA DE EQUIPOS ASIGNADOS </h1>

        <h2>POSITION: {{position.name}} </h2>

        <mat-table #tableAssignEquip [dataSource]="positionEquipments" class="mat-elevation-z8">

          <ng-container matColumnDef="id">
            <mat-header-cell mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
            <mat-cell mat-cell *matCellDef="let peq"> {{peq.id}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="nameEquipment">
            <mat-header-cell mat-header-cell *matHeaderCellDef> Equipo </mat-header-cell>
            <mat-cell mat-cell *matCellDef="let peq"> {{peq.nameEquipment}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="editEquipment">
            <mat-header-cell mat-header-cell *matHeaderCellDef> Opción </mat-header-cell>
            <mat-cell mat-cell *matCellDef="let peq"> <a mat-button [routerLink]="['/assign-equipment-position-edit', position.id, peq.id]"><span class="fa fa-edit"></span>Editar</a> </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>

      </div>
    </div>
    <br>
  </div>

  <div [hidden]="positionEquipments">
    <mat-spinner></mat-spinner>
    <h4>Loading . . . Please Wait</h4>
  </div>

</div>

<div class="container cont-buttons">
  <button mat-raised-button color="primary" [routerLink]="['/assign-equipment-position', position.id]">AÑADIR</button>
  <button mat-raised-button (click)="gotoList()" color="secondary">CANCELAR</button>
</div>
